code {
    font-family: Monaco, Consolas, monospace, serif;
    font-size: 13px;
}
pre {
    padding:8px 15px;
    background: #f8f8f8;
    border-radius:5px;
    border:1px solid #e5e5e5;
    overflow-x: auto;
}